@import "_vars";

.character--card {
  width: 280px;
  height: 500px;
  background-color: var(--black);
  border-radius: 15px;
  box-sizing: border-box;
  margin: auto;
}

.character--image img {
  width: 280px;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.character--information {
  padding: 20px 30px;
  height: 220px;
}

.character--name {
  font-size: 2.4rem;
  color: var(--morty-blue);
}

.character--status {
  font-size: 1.4rem;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.character--status-alive {
  background-color: var(--green-rick);
}

.character--status-dead {
  background-color: red;
}

.character--status-unknown {
  background-color: white;
}

.line {
  height: 1px;
  background: white;
  margin: 15px 0;
}

.character-detail--information {
  width: 100%;
  gap: 20px;
  color: white;
  font-size: 1.8rem;
}



@media (max-width: 320px) {
  .character--card {
    max-width: 300px;
    flex-direction: column;
  }
}
