.location--card {
  width: 280px;
  height: 240px;
  background-color: var(--black);
  border-radius: 15px;
  box-sizing: border-box;
  margin: auto;
}

.location--information {
  padding: 20px 30px;
  height: 260px;
  position: relative;
}

.location--name {
  font-size: 2.4rem;
  color: var(--morty-blue);
}

.line {
  height: 1px;
  background: white;
  margin: 15px 0;
}

.location-detail--information {
  width: 100%;
  gap: 20px;
  color: white;
  font-size: 1.8rem;
  position: relative;
}

.location--type{
  font-size: 1.4rem;
  margin-top: 10px;
  color: var(--green-rick);
}

.location--portal{
  position: absolute;
  width: 50px;
  right: 10px;
  top: 40px;

  animation-name:rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.location--portal:hover{
  cursor: pointer;
}

@keyframes rotate{

  100%{
    transform:rotate(360deg);
  }
}


@media (max-width: 320px) {
  .character--card {
    max-width: 300px;
    flex-direction: column;
  }
}
