@import 'vars';

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--morty-blue);
  
}

section img {
  position: absolute;
  width: 500px;
  z-index: 1;

  animation-name:rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1 {
  font-size: 132px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.not-found-morty, .not-found-summer {
  display: inline-block;
  width: 108px;
  height: 108px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.not-found-morty{
  background-image: url('../assets/morty-face.png');
}

.not-found-summer {
  background-image: url('../assets/summer-scream.png');
}

@keyframes rotate{

  100%{
    transform:rotate(360deg);
  }
}