@import 'vars';

not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--morty-blue);
}

not-found-title {
  font-size: 132px;
  text-align: center;
  
}

.not-found-morty, .not-found-summer {
  display: inline-block;
  width: 108px;
  height: 108px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.not-found-morty{
  background-image: url('../assets/morty-face.png');
}

.not-found-summer {
  background-image: url('../assets/summer-scream.png');
}